<span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
  <svg class="icon icon--wide icon-plus" width="28px" height="28px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 4V16M4 10H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
  </svg>
</span>

